@import url("https://fonts.googleapis.com/css?family=Poppins'\"");
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Navbar */
ul{
	display: flex;
	width: 100%;
	margin: auto;
	justify-content:flex-start;
	text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
	/* -webkit-backdrop-filter: blur(10px); */
  backdrop-filter: blur(10px);  
}
.nav-item {
	list-style: none;
	color: rgb(0, 0, 0);
	font-family: sans-serif;
	font-weight: bold;
	padding: 12px 16px;
	margin: 0 8px;
	position: relative;
	cursor: pointer;
	white-space: nowrap;}
.nav-item:before {
	content: " ";
	position: absolute;
	top: 0;
	left:0;
	height:100%;
	width: 100%;
	z-index:-1;
	transition: .2s;
	border-radius: 20px;
		}
.nav-item:hover{
background: linear-gradient(to bottom, #FFA45C, rgb(255, 214, 182));
box-shadow: 0px 3px 20px 0px black;
transform: scale(1.2);
color: black;
}
/* Landing */
.landing {
  width: 100%;
  height: 100vh;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#start {
  position:absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 600px 700px 300px 800px;
}
/* Footer */
.content-container {
	min-height: calc(100vh - 714px);
  }
  .footer--pin {
	position: relative;
	left: 0;
	bottom: 0;
	background-color: #FFCDAB;
  	color: #40403f;
  	text-align: center;
	  width: 100%;
	  height: auto;
	  line-height: 60px;
  font-size: 14px;
  }
/* footer {
  position: absolute;
  font-size: 12px;
  bottom: 0;
  width: 100%;
  height: auto;
  line-height: 60px;
  font-size: 14px;
  background-color: #FFCDAB;
  color: #40403f;
  text-align: center;
} */
/* Header */

/* body{height: 900px;} */
header {
	padding: 0; margin: 0; box-sizing: border-box;
	background: url('https://gabytest.my.canva.site/images/6f0748b8b8025ce6d9c05774589d3a12.jpg');
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
	
}
header .header{
	width: 100%;
	height: 150%;
	padding: 180px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
    /* background-image: linear-gradient( 135deg, #a8330b69 10%, #0000006b 100%); */
	
}

#title1 {
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 30px;
}

#title2, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}
.formBackground{

 background-color: #FFA45C;
  width: 800px;
  align-items: center;
  margin: 100px 30px;
}

